.left,.right{
    height: 50vh ;
    width: 100%;
}

@media screen and (min-width:768px){
    .left,.right{
        height: 100vh;
    }
}

.left{
    background-color: blueviolet;
    
}

.right{
    background-color: white;
    flex-direction: column;
}
.left h2{
    position: absolute;
    top:60px;
    left:60px;
    color: azure;
}
.left h1{
    color: azure;
    position: absolute;
    top:100px;
    left:60px;
    border-bottom: 1px solid white;
}
.left h3{
    color: azure;
    position: absolute;
    top:150px;
    left:60px;
}
.left p{
    position: absolute;
    left:70px;
    top :220px;
    padding: 10px;
}
#second{
    padding: 20px;
    position: absolute;
    left: 60px;
    top:320px;
}

.right h1{
    text-align: center;
    padding: 0 0 20px 0;
    
}

.right form{
    
    box-sizing: border-box;
    width: 50%;
    padding: 10px 10px;
    margin: 8px ;
    
    
}

form .txt_field{
    position: relative;
    background-origin: 2px solid;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;

}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;

}
form .pass{
    
    float: right;
    color: blueviolet;
    
}

input[type = "submit"]{
    width: 40%;
    float: right;
    padding: 5px;
}

.footer{
    float: right;
    bottom : 10px;
    position: absolute;
    left: 150px;
    
}

.header{
    float:right;

}